* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

a {
   text-decoration: none;
}

figure > img {
    width: 100%;
}

ul, ol, menu {
    list-style: none;
}

.container-fluid {
    width: 100%;
    
}

.page-header {
    font-size: 16px;
    font-weight: 400;
}

.container-big {
    max-width: 1200px;
}

.container {
    max-width: 1000px;
}

.row {
     display: flex;
    justify-content: space-between;
}

.list-nav > li {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 20px;
}

.list-nav .logo {
    padding: 0 20px;
}


.col-nav {
    display: flex;
}



.button {
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
}


/* DEBUG */

/* .debug .header {
    border: 2px solid black;
    /* padding: 60px; */
/* }

.debug .container-fluid {
    border: 2px solid fuchsia;
    /* padding: 10px; */
/* }

.debug .row{
    border: 2px solid black;
} */ 
