* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
   text-decoration: none;
   color: currentColor;
}

figure > img {
    width: 100%;
    display: block;
}

ul, ol, menu {
    list-style: none;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    
}

.container-lg {
    max-width: 1200px;
    margin: 0 auto;
    
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.row > a {
    display: inline-block;
}

.dispaly-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.button{
    display: inline-block;
    background-color: #0061FF;
    color: white;
    line-height: 34px;
    padding: 0 24px;
    
}

.col-12 {
    flex-basis: calc(100%);
}

.col-8 {
    flex-basis: calc((100% * 8) / 12);
}

.col-4 {
    flex-basis: calc((100% * 4) / 12);
}

.row > [class^='col'] {
    padding: 0 25px;
}

/* HEADER */

.page-header .row {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.page-header {
    font-size: 16px;
    font-weight: 400;
}

.list-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.list-nav > li {
    display: block;
    line-height: 20px;
    padding: 0 20px;
    color: black;
    
}

.list-nav .logo {
    padding: 0 20px;
    display: block;
}

.list-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}




/* HERO */

.col-hero > .icon-arrow {
    display: inline;
    text-align: left;
    margin-top: 30px;
} 

.hero .row + .row {
    margin-top: 32px;
}

.hero {
    background-color: #B4D0E7;
    background-position: 50px 10px;
    padding-top: 80px;
}

.hero-title {
    font-size: 75px;
    font-weight: 800;
    
}


.button-big {
    display: inline-block;
    margin: 35px 0;
    
}


/* SECTION PLAN */

.col-12 {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid grey;
    flex-basis: calc((100% * 4 ) / 12);
}

.type, .card-container {
    padding: 20px;
}

.card.card-stretch {
   flex-basis: calc(100%);
}

.card > [class^='type'] {
    border-bottom: 1px solid grey ;
}

.input-button-fatturazione > .preferences {
    display: inline-block;
    padding-right: 20px;
}

.card > span {
    display:block;
}



/* debug */
.debug + * .row > [class^='col'] {
	border: 2px solid cornflowerblue;
	padding: 10px;
}

.debug + * .container-sm,
.debug + * .container-fluid,
.debug + * .container-lg {
	border: 2px solid black;
	padding: 10px;
}

.debug + * .row {
	border: 2px solid tomato;
	padding: 10px;
}