* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

figure > img {
    width: 100%;
}

ul, ol, menu {
    list-style: none;
}

.container-fluid {
    width: 100%;
    
}

.page-header {
    font-size: 16px;
}

.container-big {
    max-width: 1200px;
}

.container {
    max-width: 1000px;
}

.row {
    padding: 60px;
}



.button {
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
}


/* DEBUG */

.debug .header {
    border: 2px solid black;
    padding: 60px;
}

.debug .container-fluid {
    border: 2px solid fuchsia;
    padding: 10px;
}

.debug .row{
    border: 2px solid black;
    padding: 60px;
}
